---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | append: '/' }}" class="pagination-item">Older</a>
  {% else %}
    <span class="pagination-item">Older</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | append: '/' }}" class="pagination-item">Newer</a>
  {% else %}
    <span class="pagination-item">Newer</span>
  {% endif %}
</div>
