/* Themes */

.theme-base-10 .sidebar {
  background-color: #105B63;
  color: #FFFAD5;
}
.theme-base-10 .content a,
.theme-base-10 .related-posts li a:hover {
  color: #105B63;
}

/* Sidebar */

.sidebar-sticky {
  top: 1rem;
}

.sidebar h1 {
  font-family: 'Berkshire Swash', serif;
  font-weight: normal;
}

.sidebar-nav-item {
  line-height: 2.0;
}

  /* Social networks */

.sidebar #social-networks {
  text-align: center;
}
.sidebar #social-networks a {
  margin-right: 10px;
  text-decoration: none;
}
.sidebar #social-networks img {
  margin: 0;
}

#easter_egg {
  display: none;
}

/* Content */

.content {
  max-width: 100%;
}

.content .related-posts li {
  margin-bottom: 20px;
}

/* Instafeed and Twitter */

#twitter-timeline .twitter-timeline {
  width: 100% !important;
}

#instafeed a {
  float: left;
  margin-right: 20px;
}
