/* Overrides */

a {
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}

/* Themes */

.theme-base-10 .content a,
.theme-base-10 .related-posts li a:hover {
  color: #105B63;
}

/* Icons */

.icon-2x {
  font-size: 2em;
}

/* Content */

.content .related-posts li {
  margin-bottom: 20px;
}
