/* Overrides */

a {
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}

/* Themes */

.theme-base-10 .sidebar {
  background-color: #105B63;
  color: #FFFAD5;
}
.theme-base-10 .content a,
.theme-base-10 .related-posts li a:hover {
  color: #105B63;
}

/* Sidebar */

.sidebar-sticky {
  top: 1rem;
}

.sidebar h1 {
  font-family: 'Berkshire Swash', serif;
  font-weight: normal;
}

.sidebar-nav-item {
  line-height: 2.0;
}

/* Sidebar Responsive */

.sidebar .mobile-menu-arrow {
  display: none;
}

@media (max-width: 48em) {
  .sidebar .sidebar-nav,
  .sidebar .sidebar-copyright,
  .sidebar .social-networks {
    display: none;
  }

  .sidebar .sidebar-nav.show-mobile,
  .sidebar .sidebar-copyright.show-mobile,
  .sidebar .social-networks.show-mobile {
    display: block;
  }

  .sidebar .mobile-menu-arrow {
    cursor: pointer; /* Who knows... */
    display: block;
  }
}

/* Icons */

.icon-2x {
  font-size: 2em;
}

  /* Social networks */

.sidebar .social-networks {
  text-align: center;
}
.sidebar .social-networks a {
  margin-right: 10px;
  text-decoration: none;
}
.sidebar .social-networks img {
  margin: 0;
}

#easter_egg {
  background-image: url(/public/images/doom_marine.gif);
  display: none;
  height: 32px;
  width: 28px;
}

/* Content */

.content {
  max-width: 100%;
}

.content .related-posts li {
  margin-bottom: 20px;
}

/* Instafeed and Twitter */

#twitter-timeline {
  text-align: center;
}

#instafeed a {
  float: left;
  margin-right: 20px;
}

.post .reading-time {
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: small;
}
